{{ if site_settings:favicon }}
<link rel="icon" type="image/png" href="{{ site_settings:favicon }}">
{{ /if }}

{{ if site_settings:favicon_16 }}
<link rel="icon" type="image/png" href="{{ site_settings:favicon_16 }}" sizes="16x16">
{{ /if }}

{{ if site_settings:favicon_32 }}
<link rel="icon" type="image/png" href="{{ site_settings:favicon_32 }}" sizes="32x32">
{{ /if }}

{{ if site_settings:favicon_96 }}
<link rel="icon" type="image/png" href="{{ site_settings:favicon_96 }}" sizes="96x96">
{{ /if }}

{{ if site_settings:favicon_128 }}
<link rel="icon" type="image/png" href="{{ site_settings:favicon_128 }}" sizes="128x128">
{{ /if }}

{{ if site_settings:favicon_196 }}
<link rel="icon" type="image/png" href="{{ site_settings:favicon_196 }}" sizes="196x196">
{{ /if }}
