{{ _width = width ?? "1600" }}
{{ _loading = loading ?? "lazy" }}
{{ if image }}
    {{ if height }}
        {{ _src = {glide :src="image" :width="_width" :height="height" :fit="fit"} }}
    {{ else }}
        {{ _src = {glide :src="image" :width="_width"} }}
    {{ /if }}
    <img src="{{ _src }}" alt="{{ (image:alt or alt) | sanitize }}" loading="{{ _loading }}" class="{{ class }}">
{{ else }}
    <img src="/placeholders/image01.jpg" alt="{{ alt | sanitize }}" loading="{{ _loading }}" class="{{ class }}">
{{ /if }}
