{{# `intro` component (below): background video (partials/intro/video), pulsing "scroll down" arrow to the intro text. Content comes from the page's intro fieldset (resources/fieldsets/intro.yaml: video, intro_headline, intro_text, cta). #}}
<div
    x-data="intro"
    class="intro relative w-screen overflow-hidden z-20 text-white h-dvh"
>
    <div class="w-full h-full z-10">
        {{ partial:intro/video }}
    </div>

    <div class="absolute bottom-5 left-0 w-screen h-7.5 z-100 flex items-center justify-center">
        <a
            href="#intro"
            title="Go to Intro"
            :class="{ active: arrowActive }"
            class="
                relative block w-7.5 h-7.5 z-100 cursor-pointer
                before:content-[''] before:absolute before:left-0 before:top-[calc(50%_-_3px)] before:w-1/2 before:h-1.25 before:bg-paper before:transition-all before:duration-400 before:ease-in-out
                after:content-[''] after:absolute after:left-1/2 after:top-[calc(50%_-_3px)] after:w-1/2 after:h-1.25 after:bg-paper after:transition-all after:duration-400 after:ease-in-out
                [&.active]:before:left-1 [&.active]:before:top-[calc(75%_-_3px)] [&.active]:before:rotate-45
                [&.active]:after:left-[calc(50%_-_4px)] [&.active]:after:top-[calc(75%_-_3px)] [&.active]:after:-rotate-45
                hover:before:left-1 hover:before:top-[calc(75%_-_3px)] hover:before:rotate-45
                hover:after:left-[calc(50%_-_4px)] hover:after:top-[calc(75%_-_3px)] hover:after:-rotate-45
            "
        ></a>
    </div>
</div>

<div
    class="section mb-7.5 md:mb-17.5"
    id="intro"
>
    <div class="max-w-[1024px] px-5 py-12.5 md:px-10 xl:px-17.5">
        <div
            x-fade
            class="editor-content"
        >
            <h1 class="pr-12.5 font-headline font-bold uppercase tracking-wider text-[2rem] xl:text-[2.5rem] md:pr-30">{{ page:intro_headline | nl2br }}</h1>
        </div>

        <div
            x-fade
            class="text-[1.2rem] italic leading-[1.45] text-important opacity-0 transition-opacity duration-1500 ease-out [&.is-faded-in]:opacity-100 pr-12.5 md:pr-30"
        >
            {{ page:intro_text }}
        </div>
        {{ if page:cta }}
            <div class="editor-content is-faded-in">
                <br><br>
                {{ partial:cta :cta="page:cta" }}
            </div>
        {{ /if }}
    </div>
</div>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('intro', () => ({
            arrowActive: false,

            init() {
                // nudge the "scroll down" arrow every 4 seconds
                setInterval(() => {
                    this.arrowActive = true
                    setTimeout(() => this.arrowActive = false, 1000)
                }, 4000)
            },
        }))
    })
</script>
