{{# Partners drawer, slides in from the right; `partnersOpen` lives in the global `site` component (opened by the badge in partials/intro). #}}
{{ if {collection:count in="partners" published:is="true"} > 0 }}
    <div :class="{ on: partnersOpen }" class="fixed top-0 -right-41 w-41 h-full z-20 bg-navi pt-12.5 tablet:pt-17.5 transition-[right] duration-600 ease-out on:right-0">
        <div @click="partnersOpen = false" class="
            absolute z-2 top-20 right-5 tablet:right-10.25 notebook:right-16.75 [@media(max-height:667px)]:top-17.5
            w-7.5 h-7.5 cursor-pointer
            before:content-[''] before:absolute before:w-full before:h-1.25 before:top-[calc(50%_-_3px)] before:bg-ink before:-rotate-45
            after:content-[''] after:absolute after:w-full after:h-1.25 after:top-[calc(50%_-_3px)] after:bg-ink after:rotate-45
        "></div>

        <div class="top-15 h-[calc(100%_-_70px)] overflow-y-scroll">
            <div class="h-full px-8.5 [@media(max-height:568px)]:px-10 flex flex-col justify-around">
                {{ collection:partners scope="partner" published:is="true" }}
                    <div>
                        <img src="{{ glide :src="partner.icon" width="200" }}" alt="{{ (partner.icon.alt or partner.title) | sanitize }}" title="{{ (partner.title) | sanitize }}" class="w-full h-auto">
                    </div>
                {{ /collection:partners }}
            </div>
        </div>
    </div>
{{ /if }}
