{{# Projects set (main_content replicator): the projects section – set fields topline, headline, copy (Bard) above partials/projects/grid. Section id via partials/sets/anchor (default "projects"). #}}
<div
    class="section mb-7.5 tablet:mb-17.5"
    id="{{ partial:sets/anchor }}"
>
    {{ partial:section/heading :topline="set:topline" :headline="set:headline" }}
        {{ set:copy }}
    {{ /partial:section/heading }}

    <div class="pb-12.5">
        {{ partial:projects/grid }}
    </div>
</div>
